/*** BASELINE ***/
body, body * {
    background: #000;
    color: white;
    font-family: monospace;
}

html, body {
    padding: 0;
    margin: 0; 
}

.wrapper {
    padding: 5px;
}

main, header {
    float: left; 
    max-width: 540px;
    padding: 5px; 
}

header {
    max-width: 300px;
}

/*** GENERAL RULES ***/
nav input {
    -webkit-appearance: checkbox;
    -moz-appearance:checkbox;
    appearance: checkbox;
}

.select, .input { 
    padding: 3px; 
}

.text-section, .alphabet-section {
    width: auto; 
    height: auto;
}

.input, .letter input {
    background: #444; 
    border: 1px solid #222;
    border-radius: 1px;
    width: 99%;
    resize: none;
}


/*** SPECIFIC RULES ***/
.title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px 5px; 
}

.select, .letter {
    display: inline-block;
}

.select {
    margin: 5px;
}

.letter {
    width: 50px; 
    margin: 0 5px; 
}

.letter input {
    height: 10px;
    width: 25px;
    margin: 5px;     
}
