html, body {
  background-color: lightgray;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

div.wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

section.left {
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  padding: 5px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
